<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kci.moodstore.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.kci.moodstore.user.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="activation_code" property="activationCode" jdbcType="VARCHAR"/>
        <result column="header_url" property="headerUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id = "insertFields">
        username, password, mobile, email, status, icon, create_time, update_time
    </sql>

    <sql id = "fullField">
        id, username, password, mobile, email, status, icon, create_time, update_time
    </sql>

    <select id="getUserById" resultType="com.kci.moodstore.user.model.User">
        select <include refid="fullField"></include>
        from user
        where id = #{id}
    </select>

    <select id="getByUserName" resultType="com.kci.moodstore.user.model.User">
        select <include refid="fullField"></include>
        from user
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.kci.moodstore.user.model.User" keyProperty="id">
        insert into user (<include refid="insertFields"></include>)
        values(#{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{headerUrl}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateStatus">
        update user set status = #{status} where id = #{id}
    </update>

    <select id="list" resultType="com.kci.moodstore.user.model.User">
        select <include refid="fullField"></include>
        from user order by id desc
    </select>

    <select id="getUsersByIds" resultType="com.kci.moodstore.user.model.User">
        select <include refid="fullField"></include>
        from user
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        order by id desc
    </select>

</mapper>
