<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the moodstore4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kci.moodstore.community.mapper.NotificationMapper">

  <resultMap id="notificationMap" type="com.kci.moodstore.community.entity.Notification">
    <id property="id" column="id"/>
    <result property="topicId" column="topic_id"/>
    <result property="userId" column="user_id"/>
    <result property="targetUserId" column="target_user_id"/>
    <result property="action" column="action"/>
    <result property="read" column="read"/>
    <result property="content" column="content"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>

	<select id="selectByUserId" resultType="map">
		select n.*, uu.username, uu.avatar, t.title, t.id as topicId
		from notification n
		left join user u on u.id = n.target_user_id
		left join user uu on uu.id = n.user_id
		left join topic t on t.id = n.topic_id
		where n.target_user_id = #{userId} and n.`read` = #{read}
		<if test="limit &gt; 0">
			limit #{limit}
		</if>
	</select>

</mapper>
