<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the moodstore4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kci.moodstore.community.mapper.TagMapper">

  <resultMap id="tagMap" type="com.kci.moodstore.community.entity.MyTag">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="description" column="description"/>
    <result property="icon" column="icon"/>
    <result property="topicCount" column="topic_count"/>
    <result property="createTime" column="create_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="updateBy" column="update_by"/>
  </resultMap>

	<select id="selectTopicByTagId" resultType="map">
		select t.*, u.username, u.avatar
		from topic_tag tt
				 left join topic t on tt.topic_id = t.id
				 left join tag tag on tt.tag_id = tag.id
				 left join user u on t.user_id = u.id
		where tag.id = #{tagId}
		order by tag.topic_count desc
	</select>

	<select id="countToday" resultType="integer">
		select count(1)
		from tag
		where create_time between curdate() and date_add(curdate(), interval 1 day)
	</select>
</mapper>
